@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to the BootcampLMS gradebook</h2>
<h4>If your login has been approved please click the login button.</h4>
<h4>If your registration is pending, please wait for confirmation before proceeding to the login page</h4>