@model DvdLibrary.UI.Models.MovieProperties
@{
    Layout = null;
}





<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>A document with FORM</title>
</head>
<body>
    ...some text...
    <p>
        Go to the
        <a tabindex="10" href="http://www.w3.org/">W3C Web site.</a>
        ...some more...
        <button type="button" name="get-database"
                tabindex="1" onclick="get-database">
            Get the current database.
        </button>
        ...some more...
        <form action="..." method="post">
    <p>
        <input tabindex="1" type="text" name="field1">
        <input tabindex="2" type="text" name="field2">
        <input tabindex="3" type="submit" name="submit">
    </p>
    </FORM>
</body>
</html>
