body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*Verticle Spacing rules */
.vspace-top {
    margin-top: 1em;
}

.vspace-bottom {
    margin-bottom: 1em;
}

.vspace {
    margin: 1em 0;
}


