@{
    ViewBag.Title = "StudentDashboard";
}

<h4>@Html.ActionLink("Home", "Index") | @Html.ActionLink("Dashboard", "Index") | @Html.ActionLink("Account", "Index")</h4>

<hr />
<div class="row">
    <h2>Student Dashboard</h2>
    <h4>My Classes</h4>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="vspace-bottom">
            
        </div>
    </div>
</div>



